/Mindbox_C#/.vs/
/Mindbox_C#/Mindbox.AreaCalculator/bin/
/Mindbox_C#/Mindbox.AreaCalculator/obj/
/Mindbox_C#/Mindbox.AreaCalculator.ConsoleApp/bin/
/Mindbox_C#/Mindbox.AreaCalculator.ConsoleApp/obj/
/Mindbox_C#/Mindbox.AreaCalculator.Tests/bin/
/Mindbox_C#/Mindbox.AreaCalculator.Tests/obj/